<h1><%= t "mail.title" %></h1>
<p><%= t "mail.note" %></p>
<p><%= t "mail.user" %><%= @suggest.user.name %></p>
<p><%= t "mail.name" %><%= @suggest.name %></p>
<p><%= t "mail.body" %><%= @suggest.body %></p>
<p><%= t "mail.price" %><%= @suggest.price %></p>
<p><%= t "mail.created_at" %><%= @suggest.created_at.strftime('%b %d, %Y') %></p>

