<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <th>Date time</th>
    <th>Message</th>
    <th>Status</th>
    <th>Total price</th>
  </thead>
  <%= form_for [:admin, @order] do |f| %>
  <tbody>
    <td><%= f.text_field :created_at, disabled: true %></td>
    <td><%= f.text_field :message %></td>
    <td><%= f.check_box :status %></td>
    <td><%= f.text_field :order_total, disabled: true %></td>
    <td><%= f.submit  %></td>

  </tbody>
  <% end %>
</table>
