<h1><%= t "contact.contact" %></h1>
<table class="table table-list-search">
        <thead>
          <tr>
            <th class="hidden-xs"><%= t "contact.address"%></th>
            <th class="hidden-xs"><%= t "contact.showaddress" %></th>
          </tr>
          <tr>
            <th class="hidden-xs"><%= t "contact.phone"%></th>
            <th class="hidden-xs"><%= t "contact.showphone" %></th>
          </tr>
          <tr>
            <th class="hidden-xs"><%= t "contact.email"%></th>
            <th class="hidden-xs"><%= t "contact.showemail" %></th>
          </tr>
        </thead>
      </table>
