<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for [:admin, @product], html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: @product %>

      <%= f.label :name, class: "col-md-4 control-label" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :price, class: "col-md-4 control-label" %>
      <%= f.text_field :price, class: "form-control" %>

      <%= f. label :discount, class: "col-md-4 control-label" %>
      <%= f.text_field :discount, class: "form-control" %>

      <%= f.label :description, class: "col-md-4 control-label" %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :rate, class: "col-md-4 control-label" %>
      <%= f.text_field :rate, class: "form-control" %>

      <%= f.label :category_id, class: "col-md-4 control-label" %>
      <%= f.collection_select :category_id, @categories, :id, :name,
        prompt: true %>

      <%= f.label :image, class: "col-md-4 control-label" %>
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
