<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-list-search">
        <thead>
          <tr>
            <th><%= t "user.id"%></th>
            <th><%= t "user.emails" %></th>
            <th><%= t "user.function" %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="hidden-xs"><%= user.id %></td>
            <td class="hidden-xs">
              <%= link_to user.email, admin_user_path(user) %>
            </td>
            <td>
              <% if current_user.is_admin? && !user.is_user?(current_user) %>
              <%= link_to t("user.delete"), admin_user_path(user),
                class: "btn btn-danger", method: :delete, data: {confirm:
                  t("user.sure")} %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <form action="#" method="get">
        <div class="input-group">
          <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
          <span class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
